<!-- src/app/components/camera-capture/camera-capture.component.html -->
<div>
  <div class="video-container">
    <video #video autoplay></video>
    <div class="mrz-overlay"></div>
  </div>
  <canvas #canvas style="display: none;"></canvas>


  <div *ngIf="loading">Processing...</div>
  <div *ngIf="result">Scanned Text: <h1>{{ result }}</h1></div>

  <div>
    <!-- <button (click)="captureImage()">Capture Image</button>
    <button (click)="scanImage()" [disabled]="!capturedImage">Scan Image</button> -->
  </div>

  <div *ngIf="capturedImage">
    <h3>Captured Image:</h3>
    <img [src]="capturedImage" alt="Captured image">
  </div>

  
</div>
